* {
  font-size: 12px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}

.card {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 15px;
}

.App {
  text-align: center;
}

.title {
  margin-bottom: 15px;
  font-size: 15px;
}
